Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_xssnvrv2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_x4umw2x0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_usjroosb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_spnd41e1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_qnv4qjef_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_pzyst3do_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_nwbcfupu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_mfpclz30_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_l2ggue2t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_kxaksp4b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_k4f53w3p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_jqqo1qit_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ji44gkne_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_fw41ook3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_dglzkpxf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_d3fab142_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ctorapuy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ce5vt34j_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_4lbetmhh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_3qytmwtf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_34tt0zbw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_2butabsb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_0nfhqf0k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_xfvr3vcx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_tdjnchtq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_sw4dl2a0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_sebw4sls_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_rny4oubw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_opl4bv0k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_nbiyt2nu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_l4zjrkyu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_bnk5cpqu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_bbrfhiaw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/Trial Test Paper/PE_PRN212_SU24TrialTest_LuongNgocThuyDuong/AirConditionerShop_LuongNgocThuyDuong/obj/Debug/net8.0-windows/AirConditionerShop_LuongNgocThuyDuong_b1wvqpxa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_0nfhqf0k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_2butabsb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_34tt0zbw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_3qytmwtf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_4lbetmhh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ce5vt34j_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ctorapuy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_d3fab142_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_dglzkpxf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_fw41ook3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ji44gkne_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_jqqo1qit_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_k4f53w3p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_kxaksp4b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_l2ggue2t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_mfpclz30_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_nwbcfupu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_pzyst3do_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_qnv4qjef_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_spnd41e1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_usjroosb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_x4umw2x0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_xssnvrv2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_34tt0zbw_wpftmp.csproj.BuildWithSkipAnalyzers
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_4lbetmhh_wpftmp.csproj.BuildWithSkipAnalyzers
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ce5vt34j_wpftmp.csproj.BuildWithSkipAnalyzers
Simple-Lesson/Session/Session07-PE/PE_PRN212_SU24_686868_HoangNgocTrinh/PE_PRN212_SU24_686868_HoangNgocTrinh/AirConditionerShop_HoangNgocTrinh/obj/Debug/net8.0-windows/AirConditionerShop_HoangNgocTrinh_ctorapuy_wpftmp.csproj.BuildWithSkipAnalyzers
